/45regional/__pycache__/
/46nationalmoduled/__pycache__/
/51nationalmoduled/__pycache__/
/50nationalmodulea/__pycache__/
/51regional/__pycache__/
/52nationalmodulee/__pycache__/
/53regional/__pycache__/
/53stage2modulea/__pycache__/
/54regional/__pycache__/
/backend/__pycache__/
/chclass/__pycache__/
/chrisjudge/__pycache__/
/dcbot/__pycache__/
/function/__pycache__/
/tutorial/__pycache__/
/ws2022modulec/__pycache__/
/ws2022modulec/temp/
/chrisjudge/upload
/project005/
/upload/50nationalmodulea
/upload/51nationalmoduled
/upload/project005
/upload/ws2022modulec