/*/__pycache__/
/45regional/__pycache__/
/46nationalmoduled/__pycache__/
/51nationalmoduled/__pycache__/
/50nationalmodulea/__pycache__/
/51regional/__pycache__/
/52nationalmodulee/__pycache__/
/53regional/__pycache__/
/53stage2modulea/__pycache__/
/54regional/__pycache__/
/backend/__pycache__/
/chclass/__pycache__/
/chrisjudge/__pycache__/
/chrisjudge_54national/__pycache__/
/computercontroller/__pycache__/
/dcbot/__pycache__/
/function/__pycache__/
/filemanager/__pycache__/
/templ/__pycache__/
/tutorial/__pycache__/
/ws2022modulec/__pycache__/
/ws2022modulec/temp/
/chrisjudge/upload
/chrisjudge_54national/upload
/case00005/__pycache__/
/project005/__pycache__/
/project00009/__pycache__/
/upload/50nationalmodulea
/upload/51nationalmoduled
/upload/computercontroller
/upload/project005
/upload/worldskill2024moduleb
/upload/worldskill2022modulec
/upload/ws2022modulec